<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Link do Bootstrap -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <!-- Link do CSS próprio -->
    <link rel="stylesheet" href="../static/style.css">
    
  </head>
  <body class="d-flex flex-column">
    <!-- Cabeçalho -->
     <header class="bg-primary text-white text-center py-3 ">
        {% include "header.html" %} 
    </header>
    <!-- Corpo -->
    <main class="container mt-5 flex-fill">
        {% block content %}
        {% endblock %}
    </main>

    

    <!-- Rodapé -->
    <footer class="bg-primary text-white text-center py-3">
        {% include "footer.html" %} 
    </footer>

    <!-- Scripts do Bootstrap -->
    <script src="../static/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
